*{
    padding: 0;margin: 0;
}
body{
    /* margin-top: 5em; */
    background-size: cover;
}
header{
    background:white;
    height:auto;
}
/* img{
    margin-top: 10px;
    margin-left:50px;
} */

.heads :hover{
    text-decoration: none;
    color:green;
    text-emphasis-style:
    /* text-shadow: darkorange; */
    /* background-color:yellowgreen; */

}

.heads{
    float:right;
    /* text-decoration:none; */
    margin-top: 30px; margin-right: 20px;
    word-spacing: 10px;
    
}

.heads a{
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color:yellowgreen;
    transition:0.5s ease-out ;
}

.ylist{
    color:white;font-weight: bolder;
    text-align: center;
    padding-top: 25px;padding-right: 25px;
}
.ylist li{
    padding-left: 10px;
    padding-top: 4px;
}
/* form */

.login
{ float: right;
    background-color: skyblue;
    padding:18px;
    /* padding-top: 20px;padding-left: 5px;padding-right: 10px; border-right: 15px;  */
    margin-top: 10px;margin-right: 8px;
}

.login-cont{
    text-align:justify;color: green;
}

.login h3{
    text-align: center;
}

.login #login-button{
    width: 100%;
    height: 1.8em;
   color:green; background-color: aquamarine;
    transition: ease-in-out;
    font-weight: 700;
}

/* login */
.login #sign-up{
    text-decoration: none;
}

.login1 form{
    text-align: center;
} 

/* districts */
.container h3{
    text-align: center;
}

.container  a{
    text-decoration: none;
}

.row img{
    
    float:center;
}

/* carousal */
.dis p{
    text-align: center;
    font-size:xx-large;font-weight: 800;
    color: ;
}

.carousal-item img{
    text-align: center;
}

/* signup page */
.ylist1 {
    color:white;font-weight: bolder;text-align: center;
}


/* footer */
.foot {
    font-weight: bolder; color: white; text-align: center;
    margin-top: 50%;
}

/* signup */

.form-row label{
    font-weight: bolder;color: white;
}